BeautifulSoup4 == 4.9.0
dpkt == 1.9.1
ipaddress == 1.0.22
jsonfield == 2.0.2
netifaces == 0.10.7
numpy == 1.15.2
pexpect == 4.8.0
protobuf ~= 3.12
psutil == 5.7.0
pycrypto == 2.6.1
PyDispatcher == 2.0.5
pyserial == 3.4
PyYAML == 5.3.1
urllib3 == 1.24.2

# following packages need to be installed in this order
dispatcher == 1.0
dispatch == 0.7.7
usbinfo == 1.1.1
pyudev == 0.21.0
