BeautifulSoup4==4.9.0
dispatcher==1.0
dispatch==0.7.7
pexpect==4.8.0
psutil==5.4.1
pycrypto==2.6.1
pyserial==3.4
usbinfo==1.1.1
pyudev==0.21.0
netifaces==0.10.7
numpy==1.15.2
PyYAML==5.3.1
PyDispatcher==2.0.5
dpkt==1.9.1
jsonfield==2.0.2
urllib3==1.24.2
ipaddress==1.0.22
